/* Sidebar container */
.sidebar-container {
  position: relative;
  height: 100%; /* Full height */
  width: 100%;
  padding: 8px;
}

/* Sidebar content box */
.sidebar-content {
  position: absolute;
  top: 20px;
  left: 20px;
  background-color: white;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 1;
  width: 260px;
  max-height: 750px; /* Decrease the max height to make the sidebar shorter */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow-y: hidden; /* Prevent scrolling */
}

/* Component Info Display */
.component-info {
  margin-top: 20px;
  background-color: #f0f0f0;
  color: #000;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  flex-shrink: 1; /* Allow the component info to shrink */
  overflow: hidden; /* Prevent scrolling */
}

.component-info-title {
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 1rem; /* Shrink the title font size */
  flex-shrink: 0; /* Prevent the title from shrinking */
}

.component-info-type {
  margin-bottom: 5px;
  font-size: 0.95rem; /* Shrink the type and coordinates font size */
  flex-shrink: 0; /* Prevent the type and coordinates from shrinking */
}

.component-info-coordinates {
  margin-bottom: 5px;
  font-size: 0.7rem; /* Shrink the type and coordinates font size */
  flex-shrink: 1; /* Allow each attribute to shrink */
}

.component-info-attributes {
  font-size: 0.7rem; /* Shrink the attributes font size */
  display: flex;
  flex-direction: column;
  flex-shrink: 1; /* Allow the attributes to shrink */
}

.component-info-attribute {
  margin-bottom: 5px;
  flex-shrink: 1; /* Allow each attribute to shrink */
}